<ul class="links">
	<li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Úvod</a></li>
	<li class="{% if page.url contains '/like/' %} active {% endif %}"><a href="{{ "/like/" | absolute_url }}">Co mám rád</a></li>
	<li class="{% if page.url contains '/myown/' %} active {% endif %}"><a href="{{ "/myown/" | absolute_url }}">Tvorba</a></li>
	<li class="{% if page.url contains '/goals/' %} active {% endif %}"><a href="{{ "/goals/" | absolute_url }}">Cíle</a></li>
	<li class="{% if page.url contains '/calendar/' %} active {% endif %}"><a href="{{ "/calendar/" | absolute_url }}">Kalendář</a></li>
	<li><a href="{{ "http://dochazku.cekuj.net/" | absolute_url }}">+ Docházka</a></li>
</ul>

<ul class="icons">
	<li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" title="Facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
	<li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" title="Instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
	<li><a href="https://github.com/{{site.github}}" class="icon fa-github" title="GitHub" rel="nofollow"><span class="label">GitHub</span></a></li>
	<li><a href="{{site.previous}}" class="icon fa-history" title="Předchozí verze" rel="nofollow"><span class="label">Předchozí verze</span></a></li>
</ul>