/**
 * Posts and Pages
 */
.post {
  margin-bottom: 3.33333em;
}

.post-header {
  margin-bottom: 1.5em;
}

.post-title {
  margin-bottom: 0.66667rem;
  display: inline-block;

  a {
    border: 0;
    color: inherit;

    &:hover {
      color: _palette(primary);
    }
  }
}

.post-meta {
  color: _palette(meta);
  font-size: 0.88889rem;
}

.post-thumbnail {
  border: 0;
  display: block;
  margin-bottom: 2.5em;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 14rem;
  }
}

.post-subtitle {
  color: _palette(secondary);
  font-size: 1.33333rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.read-more-link {
  color: _palette(secondary);
  display: inline-block;
  font-size: 0.88889rem;
  font-weight: bold;
  padding: .3em 0;
  position: relative;

  .icon-arrow-right {
    left: auto;
    margin-left: 0;
    margin-right: 2px;
    right: 0;
  }
}

.post-feed {
  .post {
    border-bottom: 1px dashed _palette(border);
    margin-bottom: unset;
  }

  .post-header,
  .post-thumbnail {
    margin: 1rem 0;
  }

  .post-title {
    font-size: 1.66667rem;
    margin: 0;
  }

  .post-meta {
    font-size: 14px;
  }

  .post-date {
    font-size: 14px;
  }

  .post-tag {
    margin: .5rem 0;
  }

  .post-content p {
    margin-bottom: 0;
  }
}

.post-date {
  display: inline-block;
  padding: .1rem .4rem;
  border-radius: 24px;
  background-color: _palette(accent);
  font-weight: 700;
  letter-spacing: 1px;
  vertical-align: text-bottom;
}

.post-tag {
  display: inline-block;
  padding: .1rem .4rem;
  border-radius: 24px;
  background-color: _palette(bg);
  font-size: 12px;
  font-weight: 700;
  vertical-align: text-bottom;
}
